{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <div class="layui-card-body layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:100px;"><span class="asterisk">*</span>分销功能：</label>
                <div class="layui-input-inline">
                    <input type="radio" name="is_open" value="1" title="开启" {if ($detail.is_open ?? 0)==1}checked{/if}>
                    <input type="radio" name="is_open" value="0" title="关闭" {if ($detail.is_open ?? 0)==0}checked{/if}>
                    <div class="layui-form-mid layui-word-aux" style="white-space:nowrap;">
                        关闭分销功能后不会再产生新的分销佣金，商城端分销入口会关闭。
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:100px;"><span class="asterisk">*</span>分销层级：</label>
                <div class="layui-input-block">
                    <input type="radio" name="level_num" value="1" title="一级分销" {if ($detail.level_num ?? 0)==1}checked{/if}>
                    <input type="radio" name="level_num" value="2" title="二级分销" {if ($detail.level_num ?? 0)==2}checked{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:100px;"><span class="asterisk">*</span>分销条件：</label>
                <div class="layui-input-block">
                    <input type="radio" name="apply_condition" value="1" title="全员分销" {if ($detail.apply_condition ?? 0)==1}checked{/if}>
                    <input type="radio" name="apply_condition" value="2" title="申请分销" {if ($detail.apply_condition ?? 0)==2}checked{/if}>
                    <input type="radio" name="apply_condition" value="3" title="指定分销" {if ($detail.apply_condition ?? 0)==3}checked{/if}>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="addForm">提交保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["form"], function() {
        let form = layui.form;

        form.on("submit(addForm)", function(data){
            wait.ajax({
                url: "{:url('addons.distribution.DistributionSetting/set')}",
                type: "POST",
                data: data.field
            }).then((res) => {
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1, time: 1000});
                }
            });
            return false;
        });
    });
</script>
{/block}