{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <!-- 表格栏-->
        <div class="layui-card-body wait-table-cell">
            <table id="wait-table-lists" lay-filter="wait-table-lists"></table>
            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">新增等级</button>
                </div>
            </script>
            <script type="text/html" id="table-icon">
                <img src="{{d.icon}}" alt="icon" style="width:50px; height:50px;">
            </script>
            <script type="text/html" id="table-background">
                <img src="{{d.background}}" alt="icon" style="width:100px; height:50px;">
            </script>
            <script type="text/html" id="table-disable">
                {{#  if(d.is_disable === 0){ }}
                    <span class="text-success"><i class="layui-icon layui-icon-circle-dot"></i> 正常</span>
                {{# } else { }}
                    <span class="text-warning"><i class="layui-icon layui-icon-circle-dot"></i> 禁用</span>
                {{#  } }}
            </script>
            <script type="text/html" id="operate">
                <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["table", "form"], function() {
        let table = layui.table;

        // 渲染表格
        wait.table({
            elem: "#wait-table-lists"
            ,url: "{:url('user.Grade/lists')}"
            ,cols: [[
                {field:"id", title:"ID", align:"center", width:60},
                {field:"icon", title:"等级图标", align:"center", width:100, templet:"#table-icon"},
                {field:"background", title:"等级背景图", align:"center", width:150, templet:"#table-background"},
                {field:"name", title:"等级名称", align:"center", width:150},
                {field:"weight", title:"等级权重", align:"center", width:100},
                {field:"equity", title:"享受折扣", align:"center", width:100},
                {field:"disable", title:"状态", align:"center", width:100, templet:"#table-disable"},
                {field:"create_time", title:"创建时间", align:"center", width:170},
                {fixed:"right", title:"操作", toolbar:"#operate", width:120, align:"center"},
            ]]
        });

        // 绑定事件
        wait.BindEvents({
            add: function () {
                wait.popup({
                    title: "新增等级",
                    url: "{:url('user.Grade/add')}",
                    area: ["700px", "90%"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            wait.ajax({
                                url: "{:url('user.Grade/add')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload("wait-table-lists", {
                                        where: [],
                                        page: { curr: 1 }
                                    });
                                    layer.close(index);
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 1000});
                                }
                            });
                        });
                    }
                });
            },
            edit: function (obj) {
                wait.popup({
                    title: "编辑等级",
                    url: "{:url('user.Grade/edit')}?id="+obj.data.id,
                    area: ["700px", "90%"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            data.field["id"] = obj.data.id;
                            wait.ajax({
                                url: "{:url('user.Grade/edit')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload("wait-table-lists");
                                    layer.close(index);
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 1000});
                                }
                            });
                        });
                    }
                });
            },
            del: function (obj) {
                layer.confirm("确定删除该等级吗?", function(index) {
                    wait.ajax({
                        url: "{:url('user.Grade/del')}",
                        type: "POST",
                        data: {id: obj.data.id}
                    }).then((res) => {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 1, time: 1000});
                            table.reload("wait-table-lists");
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>
{/block}