{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <div class="layui-card-header">运费模板</div>

        <!-- 表格栏 -->
        <div class="layui-card-body">
            <table id="wait-table-lists" lay-filter="wait-table-lists"></table>
            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <a class="layui-btn layui-btn-sm" lay-event="add">新增运费模板</a>
                </div>
            </script>
            <script type="text/html" id="operate">
                <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["table"], function() {
        let table = layui.table;

        // 渲染表格
        wait.table({
            elem: "#wait-table-lists"
            ,url: "{:url('setting.Freight/lists')}"
            ,cols: [[
                {field:"id", title:"ID", event:"id", align:"center", width:60},
                {field:"sort", title:"排序", align:"center", width:60},
                {field:"name", title:"模板名称", align:"center", width:150},
                {field:"method", title:"计费方式", align:"center", width:100},
                {field:"remarks", title:"备注", align:"center", width:200},
                {field:"create_time", title:"创建时间", align:"center", width:180},
                {fixed:"right", title:"操作", align:"center", width:150, toolbar:"#operate"},
            ]]
        });

        // 逻辑事件
        wait.BindEvents({
            add: function () {
                wait.popup({
                    title: "新增运费模板",
                    url: "{:url('setting.Freight/add')}",
                    area: ["900px", "600px"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            wait.locking(this);
                            wait.ajax({
                                url: "{:url('setting.Freight/add')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                wait.unlock(this);
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload('wait-table-lists', {
                                        where: {},
                                        page: { curr: 1 }
                                    });
                                    layer.close(index)
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 1000});
                                }
                            });
                        });
                    }
                });
            },
            edit: function (obj) {
                wait.popup({
                    title: "编辑运费模板",
                    url: "{:url('setting.Freight/edit')}?id="+obj.data.id,
                    area: ["900px", "600px"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            wait.locking(this);
                            data.field["id"] = obj.data.id;
                            wait.ajax({
                                url: "{:url('setting.Freight/edit')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                wait.unlock(this);
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload('wait-table-lists', {
                                        where: {},
                                        page: { curr: 1 }
                                    });
                                    layer.close(index)
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 1000});
                                }
                            });
                        });
                    }
                });
            },
            del: function (obj) {
                layer.confirm("确定删除该运费模板吗?", function(index) {
                    wait.ajax({
                        url: "{:url('setting.Freight/del')}",
                        type: "POST",
                        data: {id: obj.data.id}
                    }).then((res) => {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 1, time: 1000});
                            table.reload('wait-table-lists');
                            layer.close(index);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 1000});
                        }
                    });
                });
            }
        });
    });
</script>
{/block}