{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <div class="layui-card-body layui-form">
            <!-- 积分赠送 -->
            <fieldset class="layui-elem-field layui-field-title">
                <legend>积分赠送</legend>
                <div class="layui-field-box" style="padding-top:30px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="asterisk">*</span>购物送积分</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="is_shopping_gift" value="1" title="开启" {if $detail.is_shopping_gift==1}checked{/if}>
                            <input type="radio" name="is_shopping_gift" value="0" title="关闭" {if $detail.is_shopping_gift==0}checked{/if}>
                            <div class="layui-form-mid layui-word-aux" style="white-space:nowrap;">
                                注：如开启则订单完成后赠送用户积分，赠送数量在新增商品时设置<br/>
                                积分赠送规则：1、订单确认收货已完成到账；2、到账后即使发生售后也不回退
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- 积分抵扣 -->
            <fieldset class="layui-elem-field layui-field-title">
                <legend>积分抵扣</legend>
                <div class="layui-field-box" style="padding-top:30px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:95px;"><span class="asterisk">*</span>下单积分抵扣</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="is_shopping_discount" value="1" title="开始" {if $detail.is_shopping_discount==1}checked{/if}>
                            <input type="radio" name="is_shopping_discount" value="0" title="关闭" {if $detail.is_shopping_discount==0}checked{/if}>
                            <div class="layui-form-mid layui-word-aux" style="white-space:nowrap;">
                                注：如开启则用户下单时可选择使用积分抵扣订单金额
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:95px;"><span class="asterisk">*</span>积分抵扣比例</label>
                        <div class="layui-input-block">
                            <div class="layui-form-pane" pane>
                                <label for="discount_ratio" class="layui-form-label" style="width:150px;">1个积分可抵扣</label>
                                <div class="layui-input-block" style="width:200px;margin-left:165px;">
                                    <input type="number" min="0" name="discount_ratio" id="discount_ratio" value="{$detail.discount_ratio}"
                                           class="layui-input" autocomplete="off" lay-verify="required">
                                </div>
                                <div class="layui-form-mid layui-word-aux" style="white-space:nowrap;">
                                    例如：1积分可抵扣0.01元，100积分则可抵扣1元，1000积分则可抵扣10元
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="asterisk">*</span>抵扣条件</label>
                        <div class="layui-input-block" style="margin-left:120px;">
                            <div class="layui-form-pane" pane>
                                <label for="full_order_price" class="layui-form-label">订单需满(元)</label>
                                <div class="layui-input-inline" style="width:240px;">
                                    <input type="number" min="0" name="full_order_price" id="full_order_price" value="{$detail.full_order_price}"
                                           class="layui-input" autocomplete="off" lay-verify="required|number">
                                </div>
                            </div>
                            <p style="height:50px;"></p>
                            <div class="layui-form-pane" pane>
                                <label for="full_integral_num" class="layui-form-label" style="width:150px;">积分使用需超过</label>
                                <div class="layui-input-inline" style="width:200px;">
                                    <input type="number" min="0" name="full_integral_num" id="full_integral_num" value="{$detail.full_integral_num ?? 0}"
                                           class="layui-input" autocomplete="off" lay-verify="required|number" placeholder="积分">
                                </div>
                            </div>
                            <p style="height:50px;"></p>
                            <div class="layui-form-item layui-form-pane" pane>
                                <label for="max_money_ratio" class="layui-form-label" style="width:150px;">最高可抵扣金额(%)</label>
                                <div class="layui-input-block" style="width:200px;margin-left:150px;">
                                    <input type="number" min="0" max="100" name="max_money_ratio" id="max_money_ratio" value="{$detail.max_money_ratio}"
                                           class="layui-input" autocomplete="off" lay-verify="required|number">
                                </div>
                                <div class="layui-form-mid layui-word-aux" style="white-space:nowrap;">
                                    <p>订单需满多少：0=不限制使用，其他则表示下单实付金额需大于等于此金额可用</p>
                                    <p>积分使用需超过：0=不限制使用，其他则表示满足这个条件才可用</p>
                                    <p>温馨提示：例如订单金额100元，最高可抵扣10%，此时用户可抵扣10元</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="addForm">提交保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["form"], function() {
        let form = layui.form;

        form.on("submit(addForm)", function(data){
            wait.locking(this);
            wait.ajax({
                url: "{:url('addons.Integral/set')}",
                type: "POST",
                data: data.field
            }).then((res) => {
                wait.unlock(this);
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1, time: 1000});
                }
            });
            return false;
        });
    });
</script>
{/block}