{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <!-- 表格栏-->
        <div class="layui-card-body">
            <table id="wait-table-lists" lay-filter="wait-table-lists"></table>
            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">添加分类</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="expand">展开所有</button>
                    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="fold">折叠所有</button>
                </div>
            </script>
            <script type="text/html" id="table-show">
                <input type="checkbox" name="is_show"
                       data-id={{d.id}} lay-filter="switch-status"
                       lay-skin="switch" lay-text="显示|隐藏"
                       {{# if(d.is_show==1){ }} checked {{# } }}>
            </script>
            <script type="text/html" id="table-image">
                {{# if (d.image) { }}
                    <img src="{{d.image}}" alt="{{d.image}}" style="width:28px;height:28px;">
                {{# } else { }}
                    无图
                {{# } }}
            </script>
            <script type="text/html" id="operate">
                <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.config({
        base: "__STATIC__/js/treeTable/"
    }).extend({
        treeTable: "treeTable"
    }).use(["treeTable", "table"], function() {
        let treeTable = layui.treeTable;

        // 渲染表格
        treeTable.render({
            treeColIndex: 1
            ,treeSpid: 0
            ,treeIdName: 'id'
            ,treePidName: 'pid'
            ,treeDefaultClose: false
            ,treeLinkage: true
            ,treeDirIcon: false
            ,id: "wait-table-lists"
            ,elem: "#wait-table-lists"
            ,url: "{:url('goods.Category/lists')}"
            ,toolbar: '#toolbar'
            ,defaultToolbar: ["filter", "exports", "print"]
            ,cols: [[
                {field:"id", title:"ID", width:60},
                {field:"name", title:"分类名称", width:200},
                {field:"image", title:"分类图标", templet:"#table-image", width:100, align:"center"},
                {field:"is_show", title:"显示", templet:"#table-show", width:100, align:"center"},
                {field:"sort", title:"排序", width:100, align:"center"},
                {field:"right", title:"操作", toolbar:"#operate", width:120, align:"center"},
            ]]
        });

        // 逻辑事件
        wait.BindEvents({
            add: function () {
                wait.popup({
                    title: "新增分类",
                    url: "{:url('goods.Category/add')}",
                    area: ["500px", "450px"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            wait.ajax({
                                url: "{:url('goods.Category/add')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    location.reload();
                                    layer.close(index)
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 1000});
                                }
                            });
                        });
                    }
                });
            },
            edit: function (obj) {
                wait.popup({
                    title: "编辑分类",
                    url: "{:url('goods.Category/edit')}?id="+obj.data.id,
                    area: ["500px", "450px"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            data.field["id"] = obj.data.id;
                            wait.ajax({
                                url: "{:url('goods.Category/edit')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    location.reload();
                                    layer.close(index)
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 1000});
                                }
                            });
                        });
                    }
                });
            },
            del: function (obj) {
                layer.confirm("确定删除分类吗？", function(index) {
                    wait.ajax({
                        url: "{:url('goods.Category/del')}",
                        type: "POST",
                        data: {id: obj.data.id}
                    }).then((res) => {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 1, time: 1000});
                            obj.del();
                        }
                    });
                    layer.close(index);
                });
            },
            change: function (obj) {
                let id     = obj.elem.attributes["data-id"].nodeValue;
                let field  = obj.elem.attributes["name"].nodeValue;
                let status = obj.elem.checked ? 1 : 0;
                wait.ajax({
                    url: "{:url('goods.Category/change')}",
                    type: "POST",
                    data: {id: id, status: status, field: field}
                }).then((res) => {
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1, time: 1000});
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1000});
                    }
                });
            },
            expand: function () {
                treeTable.expandAll('#wait-table-lists');
            },
            fold: function () {
                treeTable.foldAll('#wait-table-lists');
            }
        });
    });
</script>
{/block}