{extend name="public/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 名称 -->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label"><span class="asterisk">*</span>名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" autocomplete="off" value="{$detail.name}"
                       class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 链接 -->
        <div class="layui-form-item">
            <label for="path" class="layui-form-label"><span class="asterisk">*</span>链接：</label>
            <div class="layui-input-block">
                <input type="text" id="path" name="path" autocomplete="off" value="{$detail.path}"
                       class="layui-input layui-disabled" lay-verType="tips" disabled readonly>
            </div>
        </div>
        <!-- 排序 -->
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label"><span class="asterisk">*</span>排序：</label>
            <div class="layui-input-block">
                <input type="number" min="0" id="sort" name="sort" autocomplete="off" value="{$detail.sort}"
                       class="layui-input" lay-verType="tips" lay-verify="required">
            </div>
        </div>
        <!-- 图标 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>图标：</label>
            <div class="layui-input-block">
                <div class="wait-upload-drag">
                    {if $detail.image and $detail.image != ""}
                        <div class="thumbnail">
                            <img src="{$detail.image}" alt="图标">
                            <input type="hidden" name="image" value="{$detail.image}">
                            <i class="del-upload-btn">x</i>
                        </div>
                    {/if}
                    <img class="add-upload-elem img" src="__STATIC__/images/ic_up_photo.png" alt="img" {if $detail.image!==""}style="display:none;"{/if}>
                </div>
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}

{block name="js"}
<script>
    // 添加上传图片
    wait.delUploadFile();
    $(document).on("click", ".add-upload-elem", function () {
        wait.imageUpload({
            that: $(this),
            filed: "image",
            limit: 1
        });
    });
</script>
{/block}