{extend name="public/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 品牌名称 -->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label"><span class="asterisk">*</span>品牌名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verType="tips" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!-- 品牌字母 -->
        <div class="layui-form-item">
            <label for="letter" class="layui-form-label"><span class="asterisk">*</span>品牌字母：</label>
            <div class="layui-input-block">
                <select id="letter" name="letter" lay-verType="tips" lay-verify="required">
                    {volist name="letter" id="vo"}
                        <option value="{$vo}">{$vo}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <!-- 品牌排序 -->
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label"><span class="asterisk">*</span>品牌排序：</label>
            <div class="layui-input-block">
                <input type="text" id="sort" name="sort" value="100" placeholder="数字越小越靠前" lay-verType="tips" lay-verify="required|number" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!-- 品牌图标 -->
        <div class="layui-form-item">
            <label class="layui-form-label" style="line-height: 64px;">品牌图标：</label>
            <div class="layui-input-block">
                <div class="wait-upload-drag">
                    <img class="add-upload-elem" src="__STATIC__/images/ic_up_photo.png" alt="img">
                </div>
            </div>
        </div>
        <!-- 显示状态 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>显示状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_show" value="1" title="显示" checked>
                <input type="radio" name="is_show" value="0" title="隐藏">
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}

{block name="js"}
<script>
    wait.delUploadFile();
    $(document).on("click", ".add-upload-elem", function () {
        wait.imageUpload({
            that: $(this),
            filed: "image",
            limit: 1
        });
    });
</script>
{/block}