{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <!-- 搜索栏 -->
        <div class="layui-card-body search">
            <form class="layui-form">
                <div class="layui-form-item">
                    <!-- 活动名称 -->
                    <div class="layui-inline">
                        <label for="keyword" class="layui-form-label" style="width:80px; padding:9px 0;">活动名称：</label>
                        <div class="layui-input-block" style="margin-left:80px;">
                            <input type="text" id="keyword" name="keyword" class="layui-input layui-unselect" placeholder="请输入关键词">
                        </div>
                    </div>
                    <!-- 是否结束 -->
                    <div class="layui-inline type">
                        <label for="keyword" class="layui-form-label" style="width:80px; padding:9px 0;">是否结束：</label>
                        <div class="layui-input-block" >
                            <select id="is_end" name="is_end" class="layui-input" >
                                <option value="" selected>全部</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                    <!-- 活动时间 -->
                    <div class="layui-inline" style="width:355px;">
                        <label for="datetime" class="layui-form-label" style="width:80px; padding:9px 0;">活动时间：</label>
                        <div class="layui-input-block" style="margin-left:80px;">
                            <input type="text" id="datetime" name="datetime" class="layui-input" placeholder="自定义时间" readonly>
                        </div>
                    </div>
                    <!-- 按钮 -->
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-sm" lay-submit lay-filter="search">查询</a>
                        <a class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="clear-search">清空查询</a>
                    </div>
                </div>
            </form>
        </div>

        <!-- 内容栏 -->
        <div class="layui-card-body wait-table-cell">
            <table id="wait-table-lists" lay-filter="wait-table-lists"></table>
            <script type="text/html" id="toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">新增秒杀活动</button>
                </div>
            </script>
            <script type="text/html" id="table-image">
                <img src="{{d.image}}" alt="img" style="width:60px; height:60px;">
            </script>
            <script type="text/html" id="table-name">
                <p class="wait-line-3" style="line-height:19px;">{{d.name}}</p>
            </script>
            <script type="text/html" id="table-seckill_price">
                {{d.min_seckill_price}} ~ {{d.max_seckill_price}}
            </script>
            <script type="text/html" id="table-datetime">
                <p>开始时间：{{d.start_time}}</p>
                <p>结束时间：{{d.end_time}}</p>
            </script>
            <script type="text/html" id="table-status">
                {{#  if(d.status === 0){ }} <span class="text-info"><i class="layui-icon layui-icon-circle-dot"></i> 已结束</span> {{#  } }}
                {{#  if(d.status === 1){ }} <span class="text-success"><i class="layui-icon layui-icon-circle-dot"></i> 进行中</span> {{#  } }}
            </script>
            <script type="text/html" id="operate">
                {{#  if(d.is_end === 0){ }}
                    <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
                    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="end">结束活动</button>
                {{#  } }}
                <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="view">查看</button>
                <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["table", "form", "laydate"], function() {
        let table = layui.table;
        let form = layui.form;
        let laydate = layui.laydate;

        // 时间选择
        laydate.render({
            elem: "#datetime"
            ,type: "datetime"
            ,trigger: "click"
            ,range: true
        });

        // 渲染表格
        wait.table({
            elem: "#wait-table-lists"
            ,url: "{:url('addons.seckill/lists')}"
            ,cols: [[
                {field:"id", title:"ID", width:50, align:"center"},
                {field:"image", title:"活动图片", width:100, align:"center", templet:"#table-image"},
                {field:"name", title:"活动名称", width:200, templet:"#table-name"},
                {field:"original_price", title:"原售价", width:130, align:"center"},
                {field:"seckill_price", title:"秒杀价", width:130, align:"center", templet:"#table-seckill_price"},
                {field:"datetime", title:"活动时间", width:250, align:"center", templet:"#table-datetime"},
                {field:"status", title:"状态", width:100, align:"center", templet:"#table-status"},
                {fixed:"right", title:"操作", toolbar:"#operate", width:170, align:"center"},
            ]]
        });

        // 绑定事件
        wait.BindEvents({
            view: function (obj) {
                wait.popup({
                    title: "查看秒杀活动",
                    url: "{:url('addons.Seckill/view')}?id=" + obj.data.id,
                    area: ["95%", "95%"],
                    success: function (layero, index) {}
                })
            },
            add: function () {
                layer.open({
                    type: 2
                    ,title: "选择商品"
                    ,area: ["850px", "600px"]
                    ,offset: "auto"
                    ,anim: 1
                    ,closeBtn: 1
                    ,shade: 0.3
                    ,btn: ["确定", "取消"]
                    ,content: "/admin/data/goods?type=radio"
                    ,yes: function (indexWin, layeroWin) {
                        let iframeWin = window[layeroWin.find("iframe")[0]["name"]];
                        let data = iframeWin.getSelectedData();
                        let goods_id = data[0]["id"];
                        layer.close(indexWin);
                        wait.popup({
                            title: "新增秒杀活动",
                            url: "{:url('addons.Seckill/add')}?goods_id=" + goods_id,
                            area: ["95%", "95%"],
                            success: function (layero, index, elem) {
                                layero.layui.form.on("submit(addForm)", function(data){
                                    let goodsSku = [];
                                    $(elem).find("#sku-lists-table tr.on").each(function () {
                                        goodsSku.push({
                                            "sku_id": $(this).find("input[name='sku_id']").val(),
                                            "seckill_price": $(this).find("input[name='seckill_price']").val(),
                                            "seckill_stock": $(this).find("input[name='seckill_stock']").val(),
                                        });
                                    });

                                    if (goodsSku.length <= 0) {
                                        layer.msg('请选择参与秒杀活动的商品规格');
                                        return false;
                                    }

                                    data.field['sku'] = goodsSku;
                                    wait.ajax({
                                        url: "{:url('addons.Seckill/add')}",
                                        type: "POST",
                                        data: data.field
                                    }).then((res) => {
                                        if (res.code === 0) {
                                            layer.msg(res.msg, {icon: 1, time: 1000});
                                            table.reload("wait-table-lists", {
                                                where: [],
                                                page: { curr: 1 }
                                            });
                                            layer.close(index);
                                        }
                                    });
                                });
                            }
                        });

                    }
                });
            },
            edit: function (obj) {
                wait.popup({
                    title: "编辑秒杀活动",
                    url: "{:url('addons.Seckill/edit')}?id=" + obj.data.id,
                    area: ["95%", "95%"],
                    success: function (layero, index, elem) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            let goodsSku = [];
                            $(elem).find("#sku-lists-table tr.on").each(function () {
                                goodsSku.push({
                                    "sku_id": $(this).find("input[name='sku_id']").val(),
                                    "seckill_sku_id": $(this).find("input[name='seckill_sku_id']").val(),
                                    "seckill_price": $(this).find("input[name='seckill_price']").val(),
                                    "seckill_stock": $(this).find("input[name='seckill_stock']").val(),
                                });
                            });

                            if (goodsSku.length <= 0) {
                                layer.msg('请选择参与秒杀活动的商品规格');
                                return false;
                            }

                            data.field['id'] = obj.data.id;
                            data.field['sku'] = goodsSku;
                            wait.ajax({
                                url: "{:url('addons.Seckill/edit')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload("wait-table-lists");
                                }
                                layer.close(index);
                            });
                        });
                    }
                });
            },
            del: function (obj) {
                layer.confirm("确定要删除此秒杀活动吗?", function(index) {
                    wait.ajax({
                        url: "{:url('addons.Seckill/del')}",
                        type: "POST",
                        data: {id: obj.data.id}
                    }).then((res) => {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 1, time: 1000});
                            table.reload("wait-table-lists");
                        }
                    });
                    layer.close(index);
                });
            },
            end: function (obj) {
                layer.confirm("确定要结束此秒杀活动吗?", function(index) {
                    wait.ajax({
                        url: "{:url('addons.Seckill/end')}",
                        type: "POST",
                        data: {id: obj.data.id}
                    }).then((res) => {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon: 1, time: 1000});
                            table.reload("wait-table-lists");
                        }
                    });
                    layer.close(index);
                });
            }
        });

        // 监听搜索
        form.on("submit(search)", function(data) {
            table.reload("wait-table-lists", {
                where: data.field,
                page: { curr: 1 }
            });
        });

        // 清空搜索
        form.on("submit(clear-search)", function() {
            $("#keyword").val("");
            $("#is_end").val("");
            $("#datetime").val("");
            form.render("select");
            table.reload("wait-table-lists", {
                where: [],
                page: { curr: 1 }
            });
        });

    });
</script>
{/block}