{extend name="public/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 商品主图 -->
        <div class="layui-form-item">
            <label class="layui-form-label" style="line-height: 84px;"><span class="asterisk">*</span>商品主图：</label>
            <div class="layui-input-block" lay-verType="tips" lay-verify="image">
                <div class="wait-upload-drag" switch-tab="0" lay-verType="tips" lay-verify="image">
                    {if $detail.image and $detail.image != ""}
                    <div class="thumbnail">
                        <img src="{$detail.image}" alt="商品主图">
                        <input type="hidden" name="image" value="{$detail.image}">
                    </div>
                    {/if}
                </div>
            </div>
        </div>
        <!-- 商品轮播 -->
        <div class="layui-form-item">
            <label class="layui-form-label" style="line-height: 84px;"><span class="asterisk">*</span>商品轮播：</label>
            <div class="layui-input-block" lay-verType="tips" lay-verify="banner">
                <div class="wait-upload-drag">
                    {volist name="$detail.banner" id="vo"}
                    <div class="thumbnail">
                        <img src="{$vo}" alt="轮播图">
                        <input type="hidden" name="banner[]" value="{$vo}">
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
        <!-- 活动名称 -->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label"><span class="asterisk">*</span>活动名称：</label>
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" id="name" name="name" class="layui-input layui-disabled" value="{$detail.name}"
                       autocomplete="off" lay-verType="tips" lay-verify="required" disabled readonly>
                <input type="hidden" name="goods_id" value="{$detail.goods_id}">
            </div>
        </div>
        <!-- 活动简介 -->
        <div class="layui-form-item">
            <label for="intro" class="layui-form-label"><span class="asterisk">*</span>活动简介：</label>
            <div class="layui-input-inline" style="width: 400px;">
                <textarea id="intro" name="intro" placeholder="请输入拼团简介" disabled readonly
                          class="layui-textarea layui-disabled" lay-verType="tips" lay-verify="required">{$detail.intro}</textarea>
            </div>
        </div>
        <!-- 活动时间 -->
        <div class="layui-form-item">
            <label for="activity_time" class="layui-form-label"><span class="asterisk">*</span>活动时间：</label>
            <div class="layui-input-inline" style="width: 280px;">
                <input type="text" id="activity_time" name="activity_time" value="{$detail.activity_time}" placeholder="请选择活动时间"
                       class="layui-input layui-disabled" autocomplete="off" lay-verType="tips" lay-verify="required" disabled readonly>
            </div>
        </div>
        <!-- 起购限制 -->
        <div class="layui-form-item">
            <label for="min_buy" class="layui-form-label"><span class="asterisk">*</span>起购限制：</label>
            <div class="layui-input-inline" style="width: 280px;">
                <input type="number" min="1" id="min_buy" name="min_buy" value="{$detail.min_buy}"
                       placeholder="请输入每单最小购买数" class="layui-input layui-disabled"
                       autocomplete="off" lay-verType="tips" lay-verify="required|number"
                       onkeyup="value=value.replace(/[^\d]/g,'')" disabled readonly>
            </div>
        </div>
        <!-- 每单限制 -->
        <div class="layui-form-item">
            <label for="max_buy" class="layui-form-label"><span class="asterisk">*</span>每单限制：</label>
            <div class="layui-input-inline" style="width: 280px;">
                <input type="number" min="1" id="max_buy" name="max_buy" value="{$detail.max_buy}"
                       placeholder="请输入每单最大购买数" class="layui-input layui-disabled"
                       autocomplete="off" lay-verType="tips" lay-verify="required|number"
                       onkeyup="value=value.replace(/[^\d]/g,'')" disabled readonly>
            </div>
        </div>
        <!-- 使用优惠券 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>用优惠券：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_coupon" value="1" title="允许使用" {if $detail.is_coupon==1}checked{/if} disabled readonly>
                <input type="radio" name="is_coupon" value="0" title="不允许使用" {if $detail.is_coupon==0}checked{/if} disabled readonly>
            </div>
        </div>
        <!-- 是否参与分销 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>参与分销：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_distribution" value="1" title="参与分销" {if $detail.is_distribution==1}checked{/if} disabled readonly>
                <input type="radio" name="is_distribution" value="0" title="不参与分销" {if $detail.is_distribution==0}checked{/if} disabled readonly>
            </div>
        </div>
        <!-- 选择规格 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>选择规格：</label>
            <div class="layui-input-block">
                <table id="sku-lists-table" class="layui-table" lay-size="sm">
                    <thead>
                    <tr style="background-color: #F3F5F9">
                        <th width="20"><input type="checkbox" name="check" lay-skin="primary" lay-filter="all"></th>
                        {volist name="detail.spec" id="vo"}
                        <th style="white-space: nowrap;">{$vo.name}</th>
                        {/volist}
                        <th width="50">规格图片</th>
                        <th width="50"><span class="asterisk">*</span>秒杀价格</th>
                        <th width="50"><span class="asterisk">*</span>秒杀库存</th>
                        <th>市场价</th>
                        <th>售卖价</th>
                        <th>成本价</th>
                        <th>总库存</th>
                        <th>体积(m3)</th>
                        <th>重量(kg)</th>
                        <th>条码</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="detail.seckillSku" id="vo" key="index"}
                    <tr {if $vo.seckill_sku_id!=0}class="on"{/if}>
                        <td>
                            <input type="checkbox" name="sku" lay-skin="primary" lay-filter="one" {if $vo.seckill_sku_id!=0}checked{/if} disabled readonly>
                            <input type="hidden" name="sku_id" value="{$vo.id}">
                            <input type="hidden" name="seckill_sku_id" value="{$vo.seckill_sku_id}">
                        </td>
                        {foreach :explode(',', $vo.spec_value_str) as $item}
                        <td>{$item}</td>
                        {/foreach}
                        <td>
                            <div class="goods-spec-img-div">
                                {if $vo.image}
                                <div class="thumbnail">
                                    <img src="{$vo.image}" alt="img">
                                    <input type="hidden" name="spec_image" value="{$vo.image}">
                                    <div class="goods-spec-img-del-x"><i class="layui-icon layui-icon-close"></i></div>
                                </div>
                                {/if}
                                <img src="/static/images/ic_add_enc.png" class="spec-img-add" alt="image" {if $vo.image!==""}style="display:none;"{/if}>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="seckill_price" class="layui-input layui-disabled" autocomplete="off"
                                   lay-vertype="tips" style="width:90px;" value="{$vo.seckill_price}"
                                   onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" disabled readonly>
                        </td>
                        <td>
                            <input type="number" name="seckill_stock" class="layui-input layui-disabled" autocomplete="off"
                                   lay-vertype="tips" style="width:90px;" value="{$vo.seckill_stock}"
                                   onkeyup="value=value.replace(/[^\d]/g,'')" disabled readonly>
                        </td>
                        <td>{$vo.market_price}</td>
                        <td>{$vo.sell_price}</td>
                        <td>{$vo.cost_price}</td>
                        <td>{$vo.stock}</td>
                        <td>{$vo.volume}</td>
                        <td>{$vo.weight}</td>
                        <td>{$vo.bar_code}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn1" id="closePopupWindow">关闭</a>
    </div>
</form>
{/block}


{block name="js"}
<script>
    layui.use(["laydate", "form"], function () {
        let laydate = layui.laydate;
        let form = layui.form;

        // 选择拼团活动时间
        laydate.render({
            elem: "#activity_time"
            ,type: "datetime"
            ,range: true
            ,trigger: "click"
        });

        // 添加上传图片
        wait.delUploadFile();
        $(document).on("click", ".add-upload-elem.img", function () {
            wait.imageUpload({
                that: $(this),
                field: "image",
                limit: 1
            });
        });

        // 添加上传轮播
        $(document).on("click", ".add-upload-elem.banner", function () {
            wait.imageUpload({
                that: $(this),
                field: "banner[]",
                limit: 5
            });
        });

        // 添加多规格图片
        $(document).on("click", ".spec-img-add", function () {
            wait.imageUpload({
                that: $(this),
                filed: "spec_image",
                destroy: "goods-spec-img-del-x",
                limit: 1
            });
        });

        // 绑定删除规格图片事件
        $(document).on("click", ".goods-spec-img-del-x", function () {
            $(this).parent().parent().prepend('<div class="thumbnail"><input type="hidden" name="spec_image[]"></div>');
            $(this).parent().parent().find("img").show();
            $(this).parent().remove();
        });

        // 全选或反选
        form.on('checkbox(all)', function (data) {
            if (data.elem.checked) {
                $("input[name='sku']").prop("checked", true);
                $("tbody td input[name='sku']").parents("tr").addClass("on")
                form.render("checkbox");
            } else {
                $("input[name='sku']").prop("checked", false);
                $("tbody td input[name='sku']").parents("tr").removeClass("on")
                form.render("checkbox");
            }
        });

        // 单选
        form.on('checkbox(one)', function (data) {
            if (data.elem.checked) {
                $(this).prop("checked", true);
                $(this).parents("tr").addClass("on")
                form.render("checkbox");
            } else {
                $(this).prop("checked", false);
                $(this).parents("tr").removeClass("on")
                form.render("checkbox");
            }
        });
    });
</script>
{/block}