{extend name="public/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 通知场景 -->
        <div class="layui-form-item">
            <label class="layui-form-label">通知场景：</label>
            <div class="layui-input-block" style="line-height: 37px;">{$detail.name}</div>
        </div>
        <!--模板名称-->
        <div class="layui-form-item">
            <label  for="name" class="layui-form-label"><span class="asterisk">*</span>模板名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" value="{$detail.official_template.name | default = ''}"
                       autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
            </div>
        </div>
        <!-- 模板编号 -->
        <div class="layui-form-item">
            <label for="template_sn" class="layui-form-label"><span class="asterisk">*</span>模板编号：</label>
            <div class="layui-input-block">
                <input type="text" id="template_sn" name="template_sn" value="{$detail.official_template.template_sn | default = ''}"
                       autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
            </div>
        </div>
        <!-- 模板id -->
        <div class="layui-form-item">
            <label for="template_id" class="layui-form-label"><span class="asterisk">*</span>模板ID：</label>
            <div class="layui-input-block">
                <input type="text" id="template_id" name="template_id" value="{$detail.official_template.template_id | default = ''}"
                       autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
            </div>
        </div>
        <!-- 场景变量 -->
        <div class="layui-form-item">
            <label class="layui-form-label">场景变量：</label>
            <div class="layui-input-block variable">
                {foreach $detail.variable as $key=>$value}
                    <button type="button" class="layui-btn layui-btn-primary variable-btn" data-value="{$key}">{$value}</button>
                {/foreach}
            </div>
        </div>
        <!-- 头部标题 -->
        <div class="layui-form-item">
            <label for="first" class="layui-form-label"><span class="asterisk">*</span>头部标题：</label>
            <div class="layui-input-block">
                <input type="text" id="first" name="first" value="{$detail.official_template.first | default = ''}"
                       placeholder="{{first.DT}}的内容，支持场景变量" autocomplete="off"
                       class="layui-input" lay-verify="required" lay-vertype="tips">
            </div>
        </div>
        <!-- 尾部描述 -->
        <div class="layui-form-item">
            <label for="remark" class="layui-form-label"><span class="asterisk">*</span>尾部描述：</label>
            <div class="layui-input-block">
                <input type="text" id="remark" name="remark" value="{$detail.official_template.remark | default = ''}"
                       placeholder="{{remrk.DT}}的内容，支持嵌入场景变量" autocomplete="off"
                       class="layui-input" lay-verify="required" lay-vertype="tips">
            </div>
        </div>
        <!-- 是否开启 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>是否开启：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="是" {if $detail.official_template.status==1}checked{/if}>
                <input type="radio" name="status" value="0" title="否" {if $detail.official_template.status==0}checked{/if}>
            </div>
        </div>
        <!-- 模板设置 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>模板设置：</label>
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm addParams" type="button">新增字段</button>
                <div class="template" style="margin-top:15px;">
                    {foreach $detail.official_template.tpl as $k => $item}
                        <div class="tr" style="margin-bottom:8px;">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:55px; padding:9px 0;">字段名：</label>
                                <div class="layui-input-inline" style="width:120px;">
                                    <input type="text" name="tpl_name[]" value="{$item.tpl_name}" autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:30px; padding:9px 0;">键：</label>
                                <div class="layui-input-inline" style="width:120px;">
                                    <input type="text" name="tpl_key[]" value="{$item.tpl_key}" autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
                                </div>
                            </div>
                            <div class="layui-inline" style="margin-right:0;">
                                <label class="layui-form-label" style="width:30px; padding:9px 0;">值：</label>
                                <div class="layui-input-inline" style="width:120px;">
                                    <input type="text" name="tpl_val[]" value="{$item.tpl_val}" autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm layui-btn-danger" type="button">删除</button>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <!--模板预览-->
        <div class="layui-form-item">
            <label for="content" class="layui-form-label">模板预览：</label>
            <div class="layui-input-inline" style="width:260px;">
                <textarea id="content" name="content" rows="8"
                          disabled readonly class="layui-textarea"></textarea>
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}

{block name="js"}
<script>
    /**
     * 复制场景变量
     */
    $(document).on("click", ".variable-btn", function () {
        let value = $(this).data("value");
        let aux = document.createElement("input");
        aux.setAttribute("value", "{"+value+"}");
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
        layer.msg('已复制场景变量');
    });

    /**
     * 新增模板参数
     */
    $(document).on("click", ".addParams", function () {
        $(".template").append(
            `<div class="tr" style="margin-bottom:8px;">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:55px; padding:9px 0;">字段名：</label>
                    <div class="layui-input-inline" style="width:120px;">
                        <input type="text" name="tpl_name[]" autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:30px; padding:9px 0;">键：</label>
                    <div class="layui-input-inline" style="width:120px;">
                        <input type="text" name="tpl_key[]" autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
                    </div>
                </div>
                <div class="layui-inline" style="margin-right:0;">
                    <label class="layui-form-label" style="width:30px; padding:9px 0;">值：</label>
                    <div class="layui-input-inline" style="width:120px;">
                        <input type="text" name="tpl_val[]" autocomplete="off" class="layui-input" lay-verify="required" lay-vertype="tips">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm layui-btn-danger delParams" type="button">删除</button>
                </div>
            </div>
        `);
        refreshPreviewTemplate();
    });

    /**
     * 删除字段参数
     */
    $(document).on("click", ".delParams", function () {
        if ($(".template .tr").length === 1) {
            layer.msg("至少需保留一个字段参数");
            return false;
        }
        $(this).parents(".tr").remove();
        refreshPreviewTemplate();
    });

    /**
     * 监听字段名改变
     */
    $(document).on("input propertychange","input[name='tpl_name[]']",function() {
        refreshPreviewTemplate();
    });

    /**
     * 监听参数键改变
     */
    $(document).on("input propertychange","input[name='tpl_key[]']",function() {
        refreshPreviewTemplate();
    });

    /**
     * 刷新预览模板
     */
    refreshPreviewTemplate();
    function refreshPreviewTemplate() {
        let map = [];
        $(".template .tr").each(function() {
            let tpl_name = $(this).find("input[name='tpl_name[]']").val();
            let tpl_key = $(this).find("input[name='tpl_key[]']").val();
            let tpl_val = $(this).find("input[name='tpl_val[]']").val();
            map.push({name:tpl_name, key:tpl_key, val:tpl_val});
        });

        let content = "{{first.DATA}}" + "\n";
        map.forEach(function (item) {
            content += item.name + "：" + "{{"+item.key+".DATA}}" + "\n";
        });

        content += "{{remark.DATA}}";
        $("#content").text(content);
    }
</script>
{/block}