{extend name="public/layout" /}

{block name="style"}
<style>
    .layui-form-label { padding: 9px 0; }
    .type .layui-unselect { width: 110px; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <!-- 搜索栏 -->
        <div class="layui-card-body" style="padding-bottom: 0;">
            <form class="layui-form" style="padding-top: 10px;">
                <div class="layui-form-item" style="margin-bottom: 0;">
                    <label for="keyword_type" class="layui-form-label">记录搜索：</label>
                    <div class="layui-inline">
                        <div class="layui-inline type" style="margin-right:0;">
                            <select id="keyword_type" name="keyword_type" class="layui-input layui-unselect" style="width:200px;">
                                <option value="orderSn">订单编号</option>
                                <option value="userSn">会员编号</option>
                                <option value="nickname">会员昵称</option>
                                <option value="mobile">会员电话</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <input type="text" id="keyword" name="keyword" class="layui-input" placeholder="关键词">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label for="sourceType" class="layui-form-label">变动类别：</label>
                        <div class="layui-input-inline type" style="width:110px;">
                            <select id="sourceType" name="sourceType">
                                <option value="">全部</option>
                                <option value="1">订单支付</option>
                                <option value="2">余额充值</option>
                                <option value="3">佣金提现</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label for="changeType" class="layui-form-label">变动状态：</label>
                        <div class="layui-input-inline type" style="width:110px;">
                            <select id="changeType" name="changeType">
                                <option value="">全部</option>
                                <option value="1">增加</option>
                                <option value="2">减少</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" style="width:355px;">
                        <label for="datetime" class="layui-form-label" style="width:80px; padding:9px 0;">记录时间：</label>
                        <div class="layui-input-block" style="margin-left:80px;">
                            <input type="text" id="datetime" name="datetime" class="layui-input" placeholder="开始和结束时间" readonly>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-sm" lay-submit lay-filter="search">查询</a>
                        <a class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="clear-search">清空查询</a>
                    </div>
                </div>
            </form>
        </div>

        <!-- 表格栏-->
        <div class="layui-card-body wait-table-cell" style="padding-top: 0;">
            <table id="wait-table-lists" lay-filter="wait-table-lists"></table>
            <!-- 用户信息 -->
            <script type="text/html" id="table-userInfo">
                <img src="{{d.avatar}}" alt="头像" style="height:80px; width:80px; margin-right:10px;">
                <div class="layui-input-inline">
                    <p>编号：{{d.sn}}</p>
                    <p>昵称：{{d.nickname}}</p>
                    <p>电话：{{d.mobile || '无'}}</p>
                </div>
            </script>
            <script type="text/html" id="table-status">
                {{#  if(d.status === 1){ }}<span class="text-info"><i class="layui-icon layui-icon-circle-dot"></i> 待结算</span>  {{#  } }}
                {{#  if(d.status === 2){ }}<span class="text-success"><i class="layui-icon layui-icon-circle-dot"></i> 已结算</span>   {{#  } }}
                {{#  if(d.status === 3){ }}<span class="text-error"><i class="layui-icon layui-icon-circle-dot"></i> 已失效</span>   {{#  } }}
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["table", "form", "laydate"], function() {
        let table = layui.table;
        let form = layui.form;
        let laydate = layui.laydate;

        // 时间选择
        laydate.render({
            elem: "#datetime"
            ,type: "datetime"
            ,range: true
        });

        wait.table({
            elem: "#wait-table-lists"
            ,url: "{:url('finance.Logs/growth')}"
            ,toolbar: false
            ,cols: [[
                {field:"id", title:"ID", width:60, align:"center"},
                {field:"user", title:"用户信息", width:270, templet:"#table-userInfo"},
                {field:"source_sn", title:"来源单号", width:150, align:"center"},
                {field:"change_amount", title:"变动值", width:90, align:"center", style:"color:red;"},
                {field:"before_amount", title:"变动前值", width:100, align:"center"},
                {field:"after_amount", title:"变动后值", width:100, align:"center"},
                {field:"source_type", title:"变动类型", width:150, align:"center"},
                {field:"create_time", title:"记录时间", width:160, align:"center"}
            ]]
        });

        // 监听搜索
        form.on("submit(search)", function(data) {
            table.reload("wait-table-lists", {
                where: data.field,
                page: { curr: 1 }
            });
        });

        // 清空搜索
        form.on("submit(clear-search)", function() {
            $("#keyword").val("");
            $("#sourceType").val("");
            $("#changeType").val("");
            $("#datetime").val("");
            form.render("select");
            table.reload("wait-table-lists", {
                where: [],
                page: { curr: 1 }
            });
        });
    });
</script>
{/block}