{extend name="public/layout" /}

{block name="style"}
<style>
    .link-widget li { padding: 8px 0; border-bottom: 1px dashed #EEE; }
    .link-widget .title { font-size: 12px; font-weight: bold; color: #009688;}
    .link-widget .entry { font-size: 12px; font-weight: bold; color: #333;}
    .link-widget .entry i { color: #f03c3c; }
    .link-widget .blue { color: #0e90d2; }
</style>
{/block}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <div class="layui-card-body">
            <ul class="link-widget">
                <li>
                    <p class="title">【商城首页】</p>
                    <p class="entry">路径：<span class="blue">/pages/index/index</span></p>
                </li>
                <li>
                    <p class="title">【自定义页面】</p>
                    <p class="entry">路径：<span class="blue">/pages/custom/index<i>?page_id=页面ID</i></span></p>
                </li>
                <li>
                    <p class="title">【商品列表页】</p>
                    <p class="entry">路径：<span class="blue">/pages/goods/list/list<i>?cid=分类ID</i></span></p>
                </li>
                <li>
                    <p class="title">【商品分类页】</p>
                    <p class="entry">路径：<span class="blue">/pages/goods/category/category<i>?type=tab</i></span></p>
                </li>
                <li>
                    <p class="title">【商品详情页】</p>
                    <p class="entry">路径：<span class="blue">/pages/goods/detail/detail<i>?id=商品ID</i></span></p>
                </li>
                <li>
                    <p class="title">【商品搜索页】</p>
                    <p class="entry">路径：<span class="blue">/pages/goods/search/search</span></p>
                </li>
                <li>
                    <p class="title">【购物车页】</p>
                    <p class="entry">路径：<span class="blue">/pages/cart/cart<i>?type=tab</i></span></p>
                </li>
                <li>
                    <p class="title">【个人中心】</p>
                    <p class="entry">路径：<span class="blue">/pages/user/home/home<i>?type=tab</i></span></p>
                </li>
                <li>
                    <p class="title">【用户收藏】</p>
                    <p class="entry">路径：<span class="blue">/pages/user/user_collect/user_collect</span></p>
                </li>
                <li>
                    <p class="title">【幸运抽奖页】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/lucky_wheel/lucky_wheel</span></p>
                </li>
                <li>
                    <p class="title">【每日签到】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/user_sign/user_sign</span></p>
                </li>
                <li>
                    <p class="title">【余额充值】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/recharge_index/recharge_index</span></p>
                </li>
                <li>
                    <p class="title">【秒杀列表】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/seckill_activity/seckill_activity</span></p>
                </li>
                <li>
                    <p class="title">【秒杀详情】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/seckill_detail/seckill_detail<i>?id=秒杀ID</i></span></p>
                </li>
                <li>
                    <p class="title">【拼团列表】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/team_activity/team_activity</span></p>
                </li>
                <li>
                    <p class="title">【拼团详情】</p>
                    <p class="entry">路径：<span class="blue">/bundle/pages/team_detail/team_detail<i>?id=拼团ID</i></span></p>
                </li>
            </ul>
        </div>
    </div>
</div>
{/block}
