{extend name="public/layout" /}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 提现审核 -->
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="asterisk">*</span>提现审核</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="审核通过">
                <input type="radio" name="status" value="2" title="审核拒绝">
            </div>
        </div>
        <!-- 审核备注 -->
        <div class="layui-form-item">
            <label for="remark" class="layui-form-label"><span class="asterisk">*</span>审核备注</label>
            <div class="layui-input-block">
                <textarea id="remark" name="remark" placeholder="请输入说明" class="layui-textarea"
                          lay-verType="tips" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <!-- 提交按钮 -->
    <div class="wait-body-footer">
        <a class="layui-layer-btn0" lay-submit lay-filter="addForm">确定</a>
        <a class="layui-layer-btn1" id="closePopupWindow">取消</a>
    </div>
</form>
{/block}
