{extend name="public/layout" /}

{block name="style"}
<style>
    .layui-form-item {color: #666; margin-bottom: 5px;}
    .layui-input-block {line-height: 37px;}
</style>
{/block}

{block name="body"}
<form class="layui-form">
    <!-- 主体内容 -->
    <div class="wait-body-content">
        <!-- 用户编号 -->
        <div class="layui-form-item">
            <label class="layui-form-label">用户编号：</label>
            <div class="layui-input-block">{$detail.sn} ({$detail.nickname})</div>
        </div>
        <!-- 手机号码 -->
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码：</label>
            <div class="layui-input-block">{$detail.mobile}</div>
        </div>
        <!-- 审核员工 -->
        <div class="layui-form-item">
            <label class="layui-form-label">审核员工：</label>
            <div class="layui-input-block">{$detail.username}</div>
        </div>
        <!-- 提现金额 -->
        <div class="layui-form-item">
            <label class="layui-form-label">提现金额：</label>
            <div class="layui-input-block">￥{$detail.apply_money}</div>
        </div>
        <!-- 到账金额 -->
        <div class="layui-form-item">
            <label class="layui-form-label">到账金额：</label>
            <div class="layui-input-block">￥{$detail.actual_money}</div>
        </div>
        <!-- 提现手续费 -->
        <div class="layui-form-item">
            <label class="layui-form-label">提现手续费：</label>
            <div class="layui-input-block">￥{$detail.service_charge}</div>
        </div>
        <!-- 手续费比例 -->
        <div class="layui-form-item">
            <label class="layui-form-label">手续费比例：</label>
            <div class="layui-input-block">{$detail.service_charge_ratio}%</div>
        </div>
        <!-- 提现方式 -->
        <div class="layui-form-item">
            <label class="layui-form-label">提现方式：</label>
            <div class="layui-input-block">{$detail.type}</div>
        </div>

        <!-- 提现状态 -->
        <div class="layui-form-item">
            <label class="layui-form-label">提现状态：</label>
            <div class="layui-input-block">{$detail.status}</div>
        </div>
        <!-- 提现时间 -->
        <div class="layui-form-item">
            <label class="layui-form-label">申请时间：</label>
            <div class="layui-input-block">{$detail.create_time}</div>
        </div>
        <!-- 转账时间 -->
        <div class="layui-form-item">
            <label class="layui-form-label">转账时间：</label>
            <div class="layui-input-block">{$detail.transfer_time}</div>
        </div>
        <!-- 转账凭证 -->
        <div class="layui-form-item">
            <label class="layui-form-label">转账凭证：</label>
            <div class="layui-input-block">
                {if $detail.transfer_voucher}
                    <img src="{$detail.transfer_voucher}" alt="img">
                {/if}
            </div>
        </div>
        <!-- 转账备注 -->
        <div class="layui-form-item">
            <label class="layui-form-label">转账备注：</label>
            <div class="layui-input-block">{$detail.transfer_remark}</div>
        </div>
        <!-- 审核备注 -->
        <div class="layui-form-item">
            <label class="layui-form-label">审核备注：</label>
            <div class="layui-input-block">{$detail.audit_remark}</div>
        </div>
        <!-- 申请备注 -->
        <div class="layui-form-item">
            <label class="layui-form-label">申请备注：</label>
            <div class="layui-input-block">{$detail.remark}</div>
        </div>
    </div>
</form>
{/block}
