{extend name="public/layout" /}

{block name="body"}
<div class="container">
    <div class="layui-card">
        <!-- 头部栏-->
        <div class="layui-card-header" style="border: none;">
            <div class="layui-tab layui-tab-brief" lay-filter="wait-tab-filter">
                <ul class="layui-tab-title">
                    <li data-id="0" class="layui-this">全部</li>
                    <li data-id="1">申请中({$detail.wait ?? 0})</li>
                    <li data-id="2">提现中({$detail.ing ?? 0})</li>
                    <li data-id="3">提现成功({$detail.success ?? 0})</li>
                    <li data-id="4">提现失败({$detail.fail ?? 0})</li>
                </ul>
            </div>
        </div>

        <!-- 搜索栏 -->
        <div class="layui-card-body" style="padding-bottom: 0;">
            <form class="layui-form" style="padding: 10px 0;">
                <div class="layui-form-item" style="margin-bottom: 0;">
                    <div class="layui-inline">
                        <label for="way" class="layui-form-label">提现方式：</label>
                        <div class="layui-input-inline">
                            <select id="way" name="way" class="layui-input" style="width:200px;">
                                <option value="" selected>全部</option>
                                <option value="1">账户余额</option>
                                <option value="2">微信零钱</option>
                                <option value="3">到银行卡</option>
                                <option value="4">微信收款码</option>
                                <option value="5">支付宝收款码</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label for="sn" class="layui-form-label">提现单号：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="sn" name="sn" class="layui-input" placeholder="请输入">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label for="user" class="layui-form-label">会员信息：</label>
                        <div class="layui-input-inline">
                            <input type="text" id="user" name="user" class="layui-input" placeholder="请输入用户昵称/编号/手机号">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-sm" lay-submit lay-filter="search">查询</a>
                        <a class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="clear-search">清空查询</a>
                    </div>
                </div>
            </form>
        </div>

        <!-- 表格栏-->
        <div class="layui-card-body wait-table-cell" style="padding-top: 0;">
            <table id="wait-table-lists" lay-filter="wait-table-lists"></table>
            <!-- 用户信息 -->
            <script type="text/html" id="table-userInfo">
                <img src="{{d.avatar}}" alt="头像" style="height:80px; width:80px; margin-right:10px;">
                <div class="layui-input-inline">
                    <p>编号：{{d.sn}}</p>
                    <p>昵称：{{d.nickname}}</p>
                    <p>电话：{{d.mobile || '未知'}}</p>
                </div>
            </script>
            <script type="text/html" id="table-status">
                {{#  if(d.status === 1){ }}<span class="text-info"><i class="layui-icon layui-icon-circle-dot"></i> 申请中</span>  {{#  } }}
                {{#  if(d.status === 2){ }}<span class="text-warning"><i class="layui-icon layui-icon-circle-dot"></i> 提现中</span>   {{#  } }}
                {{#  if(d.status === 3){ }}<span class="text-success"><i class="layui-icon layui-icon-circle-dot"></i> 提现成功</span>   {{#  } }}
                {{#  if(d.status === 4){ }}<span class="text-error"><i class="layui-icon layui-icon-circle-dot"></i> 提现失败</span>   {{#  } }}
            </script>
            <script type="text/html" id="operate">
                <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">详情</button>
                {{# if(d.status==1){ }}<button type="button" class="layui-btn layui-btn-xs" lay-event="audit">审核</button>{{# } }}
                {{# if(d.status==2){ }}<button type="button" class="layui-btn layui-btn-xs" lay-event="transfer">转账</button>{{# } }}
            </script>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.use(["table", "form", "element"], function() {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;

        wait.table({
            elem: "#wait-table-lists"
            ,url: "{:url('finance.Withdraw/lists')}"
            ,toolbar: false
            ,cols: [[
                {field:"id", title:"ID", width:60, align:"center"},
                {field:"withdraw_sn", title:"提现单号", width:150, align:"center"},
                {field:"user", title:"用户信息", width:270, templet:"#table-userInfo"},
                {field:"apply_money", title:"提现金额", width:90, align:"center"},
                {field:"service_charge", title:"手续费", width:90, align:"center"},
                {field:"actual_money", title:"到账金额", width:90, align:"center", style:"color:red;"},
                {field:"type", title:"提现方式", width:110, align:"center"},
                {field:"status", title:"提现状态", width:110, align:"center", templet:"#table-status"},
                {field:"remark", title:"提现备注", width:100, align:"center"},
                {field:"create_time", title:"申请时间", width:160, align:"center"},
                {fixed:"right", title:"操作", toolbar:"#operate", width:120, align:"center"},
            ]]
        });

        // 逻辑事件
        let active = wait.BindEvents({
            audit: function (obj) {
                wait.popup({
                    title: "审核提现",
                    url: "{:url('finance.Withdraw/audit')}",
                    area: ["400px", "300px"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            if (data.field['status'] === undefined) {
                                return layer.msg('请选择审核状态');
                            }
                            data.field['id'] = obj.data.id;
                            wait.ajax({
                                url: "{:url('finance.Withdraw/audit')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    active.statistics();
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload("wait-table-lists", {page: { curr: 1 }});
                                }
                                layer.close(index);
                            });
                        });
                    }
                });
            },
            transfer: function (obj) {
                wait.popup({
                    title: "提现转账",
                    url: "{:url('finance.Withdraw/transfer')}?id="+obj.data.id,
                    area: ["400px", "400px"],
                    success: function (layero, index) {
                        layero.layui.form.on("submit(addForm)", function(data){
                            if (data.field['status'] === undefined) {
                                return layer.msg('请选择转账状态');
                            }
                            data.field["id"] = obj.data.id;
                            wait.ajax({
                                url: "{:url('finance.Withdraw/transfer')}",
                                type: "POST",
                                data: data.field
                            }).then((res) => {
                                if (res.code === 0) {
                                    active.statistics();
                                    layer.msg(res.msg, {icon: 1, time: 1000});
                                    table.reload("wait-table-lists");
                                }
                                layer.close(index)
                            });
                        });
                    }
                });
            },
            detail: function (obj) {
                wait.popup({
                    title: "提现详情",
                    url: "{:url('finance.Withdraw/detail')}?id="+obj.data.id,
                    area: ["800px", "90%"],
                    success: function (layero, index) {}
                });
            },
            statistics: function () {
                wait.ajax({
                    url: "{:url('finance.Withdraw/statistics')}",
                    type: "GET",
                    data: {}
                }).then((res) => {
                    if (res.code === 0) {
                        $(".layui-tab-title li[data-id=1]").html(`申请中(${res.data['wait'] ?? 0})`);
                        $(".layui-tab-title li[data-id=2]").html(`待提现(${res.data['ing'] ?? 0})`);
                        $(".layui-tab-title li[data-id=3]").html(`提现成功(${res.data['success'] ?? 0})`);
                        $(".layui-tab-title li[data-id=4]").html(`提现失败(${res.data['fail'] ?? 0})`);
                    }
                });
            }
        });

        // 切换选项卡
        element.on("tab(wait-tab-filter)", function(){
            let type = this.getAttribute("data-id");
            table.reload("wait-table-lists", {
                where: {type: type},
                page: { curr: 1 }
            });
        });

        // 监听搜索
        form.on("submit(search)", function(data) {
            table.reload("wait-table-lists", {
                where: data.field,
                page: { curr: 1 }
            });
        });

        // 清空搜索
        form.on("submit(clear-search)", function() {
            $("#way").val("");
            $("#sn").val("");
            $("#user").val("");
            form.render("select");
            table.reload("wait-table-lists", {
                where: [],
                page: { curr: 1 }
            });
        });
    });
</script>
{/block}